body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 980px;
}

.header {
    background-color: white;
    width: 100%;
}

.logo-text {
    text-transform: uppercase;
    background-color: #63c6ae;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    float: left;
    text-align: right;
}

.header__nav {
    clear:left;
}

.header__nav ul {
    margin: 0;
    padding: 0;
}

.header__nav li {
    list-style-type: none;
    background-color: #242c2c;
    text-align: center;
    border-bottom: 1px dotted rgba(255,255,255, 0.2);   
}

.header__nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #586165;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 25px 0;
    transition: .2s ease;
}

.header__nav a:hover {
    color: #63c6ae;
}

.header__btnMenu{
    float: right;
    margin: 1.5em;
    background: transparent;
    border: none;
    font-size: 14px;
}